.weatherDt-box {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.weatherDt-box .dt {
  display: grid;
  margin: 30px auto;
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
