* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.app {
  background-image: url("./assets/pexels-markus-spiske-116720.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 1s ease-out;
}
.app.warm {
  background-image: url("./assets/warm.jpg");
}
main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}
.search-box {
  width: 100%;
  margin: 0 auto 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.search-box > button {
  margin-top: 20px;
  background: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
/* .search-box > button:hover {
  transition: cubic-bezier(1, 0, 0, 1);
} */

.search-box .search-bar {
  width: 100%;
  display: block;
  background: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  padding: 15px;
  margin-top: -25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease-out;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 700;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}
.location > img {
  margin: 0px 10px;
  width: 30px;
  height: 30px;
}
.location-box .date {
  padding-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  font-style: italic;
}

.weather-box {
  text-align: center;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 11px 25px;
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.temp > sup {
  font-size: 20px;
  padding: 5px;
}
.temp > button {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 900;
}
.temp > button:hover {
  background-color: rgb(231, 227, 227);
  color: rgb(163, 163, 163);
  cursor: pointer;
}
.circleContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-out;
}
.weather-box .weather {
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.display {
  margin: 30px auto;
  padding: 15px 25px;
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.myComponents {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.details {
  margin: 10px auto;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  display: grid;
  width: 70%;
  grid-template-rows: repeat(7, 50px);
  transition: 0.4s ease-out;
}
.details .today {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);

}
.today div span {
  padding-left: 10px;
  font-size: 10px;
}
.details .nextDays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  height: 50px;
}
.details .nextDays:hover{
  background-color: rgba(255, 255, 255, 0.05);

}
.today .feelsLike{
  font-size: 16px;
  padding: 5px;
  font-weight: normal;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.today .humidity{
  font-size: 16px;
  font-weight: normal;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.today .cloudiness {
  font-size: 16px;
  font-weight: normal;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
