.weatherMain-box {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: repeat(1, 300px);
}
.weatherMain-box .main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}

